*{
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
}

h1{
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    height: 80%;
    justify-content: center;
    flex-wrap: wrap;
}

.box1{
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    height:25%;
    width: 80%;
    background-color: grey; 
    border-style: solid;

}


.box2{
    display: flex;
    flex-wrap: wrap;
    height:25%;
    justify-content:end;
    width: 80%;
    background-color: grey;
    background-color: grey; 
    border-style: solid; 
}

.box3{
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    height:25%;
    width: 80%;
    background-color: grey; 
    background-color: grey; 
    border-style: solid;
}

.chicken, .beef, .sushi{
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    width: 100px;
    height: 30px;
    border-top: hidden;
    border-right: hidden;
    
}

.chicken{
    background-color: lightcoral;
}

.beef{
    background-color: lightsalmon;
}

.sushi{
    background-color: lightyellow;
}

.text{
    margin: 5px 5px 5px 5px;
    width: 100%;
    height: 80%;
    text-align: justify;
}

p{
    font-size: 15px;
}

@media (min-width:480px){
    body{
        height: 100vh;
    }

    h1{
        height: 30%;
    }

    .container{
        display: flex;
        flex-wrap: wrap;
        height: 70%;
    }

    .box1{
        height: 30%;
        width: 40%;
        margin-right: 10px;
    }

    .box2{
        height: 30%;
        width: 40%;
    }

    .box3{
        margin-bottom: 200px;
        height: 30%;
        width: 80%;
    }

    .chicken, .sushi, .beef{
        width: 40%;
        font-size: 22px;
    }

    p{
        font-size: 16px;
    }

}

@media(min-width:820px){
    body{
        height: 100vh;
    }
    
    h1{
        height: 30%;
    }

    .container{
        display: flex;
        flex-direction: row;
        height: 70%;
    }

    .box1, .box2, .box3{
        width: 25%;
        margin-right: 10px;
    }
}